[Unit]
Description=FM10840 restricted release update socket

[Socket]
ListenStream=/run/fm10k-update/control.sock
SocketUser=root
SocketGroup=fm10k-web
SocketMode=0660
DirectoryMode=0755
Accept=yes
MaxConnections=8
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
